.container {
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categoryCard {
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    margin-bottom: 100px;
}

.categoryCard a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 50px;
    padding: 50px;
}

.categoryCard a p {
    margin: 0 auto;
    font-size: 60px;
}

@media screen and (min-width: 525px) {
    .categoryCard a p {
        font-size: 50px;
    }
}

@media screen and (min-width: 800px) {
    .categoryCard a p {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .categoryCard a p {
        font-size: 30px;
    }
}