.aboutContainer {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	text-align: center;
}

.aboutImage {
	width: 30%;
	margin: 40px auto;
	display: block;
}

a {
	text-decoration: none;
}

.information {
	text-align: center;
}