.container {
	display: block;
	align-content: flex-start;
}

.wrapper a {
	color: black;
	text-decoration: none;
}

.wrapper a:hover {
	color: orange;
	text-decoration: none;
}

.title {
	font-size: 2em;
}

.text {
	font-size: 25px;
}

@media screen and (min-width: 525px) {
	.container {
		padding: 20px;
	}
	.title {
		font-size: 1.8em;
	}
	.text {
		font-size: 22px;
	}
}

@media screen and (min-width: 800px) {
	.container {
		padding: 15px;
	}
	.title {
		font-size: 1.6em;
	}
	.text {
		font-size: 19px;
	}
}

@media screen and (min-width: 1150px) {
	.container {
		padding: 10px;
	}
	.title {
		font-size: 1.4em;
	}
	.text {
		font-size: 16px;
	}
}