.errorContainer {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.8rem;
	text-align: center;
	margin-top: 60px;
}

@media screen and (min-width: 525px) {
	.errorContainer {
		font-size: 1rem;
		margin-top: 90px;
	}
}

@media screen and (min-width: 800px) {
	.errorContainer {
		font-size: 1.5rem;
		margin-top: 120px;
	}
}

@media screen and (min-width: 1150px) {
	.errorContainer {
		font-size: 2rem;
		margin-top: 150px;
	}
}